*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header{
    height: 40px;
    border: solid 1px black;
    background-color: #f7caac;
    text-align: center;
    font-size: 20px;
}

section{
    border-left: solid 1px black;
    border-right: solid 1px black;
    height: 200px;
    background-color: #f7caac;
    padding-left: 8px;
    font-size: 20px;
}

footer{
    border: solid 1px black;
    text-align: center;
    height: 40px;
    background-color: #f7caac;
    font-size: 20px;
}


