*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header{
    border: solid 1px black;
    background-color: #8eaadb;
    height: 40px;
    padding-left: 8px;
    font-size: 20px;
}

.layout4{
    display: flex;
    height: 200px;
}

.nav{
    border-left: solid 1px black;
    border-right: solid 1px black;
    background-color: #8eaadb;
    width: 30%;
    padding-left: 8px;
    font-size: 20px;
}

.section{
    border-right: solid 1px black;
    background-color: #8eaadb;
    width: 70%;
    padding-left: 8px;
    font-size: 20px;
}

.article{
    margin-left: 2px;
    margin-right: 10px;
    margin-bottom: 15px;
    height: 160px;
    border: solid 1px black;
    background-color: #fbe4d5;
    padding-left: 8px;
    font-size: 20px;
}

footer{
    border: solid 1px black;
    height: 40px;
    background-color: #8eaadb;
    padding-left: 8px;
    font-size: 20px;
}