*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header{
    border: solid 1px black;
    text-align: center;
    height: 40px;
    background-color: #e2efd9;
    font-size: 20px;
}

.layout2{
    background-color: #e2efd9;
    display: flex;
    height: 200px;
    font-size: 20px;
}

.nav{
    border-left: solid 1px black;
    border-right: solid 1px black;
    width: 20%;
    padding-left: 8px;
    font-size: 20px;
}

.center{
    width: 55%;
    border-right: solid 1px black;
    font-size: 20px;
}

.section{
    border-right: solid 1px black;
    width: 25%;
    font-size: 20px;
    padding-left: 8px;
}

footer{
    border: solid 1px black;
    background-color: #e2efd9;
    text-align: center;
    height: 40px;
    font-size: 20px;
}