*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header{
    border: solid 1px black;
    background-color: #a8d08d;
    height: 40px;
    padding-left: 8px;
    font-size: 20px;
}

nav{
    border-left: solid 1px black;
    border-right: solid 1px black;
    background-color: #a8d08d;
    height: 22px;
    padding-left: 8px;
    font-size: 20px;
}

.section{
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
    background-color: #a8d08d;
    height: 220px;
    padding-left: 12px;
    font-size: 20px;
}

.article{
    margin-right: 15px;
    border: solid 1px black;
    background-color: #fbe4d5;
    height: 185px;
    padding-left: 8px;
    font-size: 20px;
}

footer{
    border: solid 1px black;
    height: 40px;
    background-color: #a8d08d;
    padding-left: 8px;
    font-size: 20px;
}
