*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header{
    background-color: #ffe599;
    border: solid 1px black;
    text-align: center;
    height: 40px;
    font-size: 20px;
}

.menu{
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    text-align: center;
    background-color: #ffe599;
    height: 40px;
    font-size: 20px;
}

.layout3{
    display: flex;
    background-color: #ffe599;
    height: 200px;
}

.nav{
    border-left: solid 1px black;
    border-right: solid 1px black;
    width: 20%;
    padding-left: 8px;
    font-size: 20px;
}

.center{
    width: 55%;
    border-right: solid 1px black;
}

.section{
    border-right: solid 1px black;
    width: 25%;
    padding-left: 8px;
    font-size: 20px;
}

.footer{
    border: solid 1px black;
    text-align: center;
    height: 40px;
    background-color: #ffe599;
    font-size: 20px;
}